<!DOCTYPE html>
<html>
<head>
  <title>TeclaCms</title>
  <%= stylesheet_link_tag    "tecla_cms/application", media: "all" %>
  <%= javascript_include_tag "tecla_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
